- if user_signed_in?
  %li.nav-item
    %a.nav-link{href: edit_user_registration_path} Edit account 
  %li.nav-item
    =link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-link"
- else
  %li.nav-item
    %a.nav-link{href:new_user_session_path} Sign in
  %li.nav-item
    %a.nav-link{href: new_user_registration_path} Sign up
- if user_signed_in?
  - if current_user.try(:admin?)
    %li.nav-item
      %a.nav-link{href: users_path} Users
